In [72]:
import numpy as np 
import re
import pandas as pd

In [68]:
def load_data(file_name):
    data_list = []
    with open(file_name, 'r') as file:
        for line in file:
            line = line.strip('\n')
            data_list.append(list(line.split(' ')))
    return data_list

In [69]:
data = load_data('data.txt')

In [70]:
data

[['djcran', 'djcran-vkvats-nthakurd', 'sahmaini'],
 ['sahmaini', 'sahmaini', '_'],
 ['sulagaop', 'sulagaop-xxx-xxx', '_'],
 ['fanjun', 'fanjun-xxx', 'nthakurd'],
 ['nthakurd', 'nthakurd', 'djcran,fanjun'],
 ['vkvats', 'vkvats-sahmaini', '_']]

In [91]:
def create_want_matrix(prefs):
    labels = [people[0] for people in prefs]
    total_list = []
    for i in range(len(labels)):
        want = prefs[i][1].split("-")
        ls = []
        for label in labels:
            if label in want:
                ls.append(1)
            else:
                ls.append(0)
        total_list.append(ls)
    want_matrix = pd.DataFrame(total_list, columns = labels)
    return want_matrix

In [93]:
def create_dont_want_matrix(prefs):
    labels = [people[0] for people in prefs]
    total_list = []
    for i in range(len(labels)):
        want = prefs[i][2].split(",")
        ls = []
        for label in labels:
            if label in want:
                ls.append(1)
            else:
                ls.append(0)
        total_list.append(ls)
    dont_want_matrix = pd.DataFrame(total_list, columns = labels)
    return dont_want_matrix

In [94]:
create_dont_want_matrix(data)

   djcran  sahmaini  sulagaop  fanjun  nthakurd  vkvats
0       0         1         0       0         0       0
1       0         0         0       0         0       0
2       0         0         0       0         0       0
3       0         0         0       0         1       0
4       1         0         0       1         0       0
5       0         0         0       0         0       0

In [88]:
labels = [people[0] for people in data]
overall = []
for i in range(len(labels)):
    want = data[i][1].split("-")
    test = []
    for label in labels:
        if label in want:
            test.append(1)
        else:
            test.append(0)
    overall.append(test)
want_matrix = pd.DataFrame(overall, columns = labels)

want_matrix

   djcran  sahmaini  sulagaop  fanjun  nthakurd  vkvats
0       1         0         0       0         1       1
1       0         1         0       0         0       0
2       0         0         1       0         0       0
3       0         0         0       1         0       0
4       0         0         0       0         1       0
5       0         1         0       0         0       1

In [81]:
test

[1, 1, 1]

In [43]:
create_want_matrix(data)

['djcran', 'sahmaini', 'sulagaop', 'fanjun', 'nthakurd', 'vkvats']

In [48]:
def group_size_vector(prefs):
    sizes = np.array([(group[1].count("-") + 1) for group in prefs])
    return sizes

In [83]:
def count_of_teams(sizes):
    threes = 0 
    twos = 0
    ones = 0
    for size in sizes:
        if size == 3:
            threes += 1
        elif size == 2:
            twos += 1
        else:
            ones += 1
    return (threes / 3) + (twos / 2) + ones

In [84]:
count_of_teams(sizes)

6.0

In [52]:
group_size_vector(data)

array([3, 1, 3, 2, 1, 2])

In [53]:
sizes = np.array([3, 3, 3, 2, 2, 2, 2, 1, 1, 1])